@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
  background-color: #fff;
  background-image: url("pexels-leon-ardho-1552252.jpg");
  background-size: cover;
}

.container {
    background-color: #fff;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-image: linear-gradient(45deg,#22fea2,#0f3);*/
    background-image: linear-gradient(45deg,#fa8bff,#2bd2ff,#2bff88);
    /*background-image: linear-gradient(40deg,#ff6ec4,#7873f5);*/
    flex-wrap: wrap;
    box-shadow: 7px 2px 21px -3px rgba(0,0,0,0.6);
}

.logo {
  margin: 3.5vh 4.5vh 3.5vh 5.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 2;
}

.logo img {
  width: 150px;
  height: 28px;
  cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

nav ul li {
    list-style: none;
    padding:0 2vw;
    text-align: center;
    cursor: pointer;
}

.logout {
  flex-shrink: 2;
}

.logout button{
    padding:8px 20px;
    margin:0 40px;
    /*background-color: #3b49df;*/
    width: 120px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-weight: bold;
}

.logout button:hover {
    background-color: #3b49df;
    box-shadow: 0px 15px 20px #2a2a2d;
    color: #fff;
    transform: translateY(-7px);
    }

.logout button a {
    text-decoration: none;
    color:#000;
}

.dropbtn {
    color: white;
    padding: 2.16vh;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(51, 88, 162);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #000;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: red;}


.welcome {
    position: relative;
    text-align: center;
    top: 200px;
    font-size: 100px;
    color:  rgb(0 223 23);
}

.welcome span {
    color:rgb(255, 0, 0);
    font-family: 'Courgette', cursive;
    font-size: 110px;
    color: #fff;
    background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.dropbtn {
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(45deg,#2AFADF,#4C83FF);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 1.62vh 2.16vh;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #000;
}

  /* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

  /* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {color: rgb(255, 0, 0); transform: translateY(-7px);}



.add_gym {
    display: flex;
    justify-content: center;
    margin: 4% 15% 0% 15%;
}

.add_gym_form {
    background-image: linear-gradient(45deg,#ff00cc,#333399);
    background-color: #fff;
    padding: 8vh 12vh;
    border-radius: 2.43vh;
    animation: color 10s ease infinite;
    /*animation-timing-function: cubic-bezier(1, 0, 0, 1);*/
}

@keyframes color {
  0% {
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  }
  10% {
    background: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  }
  20% {
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  }
  30% {
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  }
  40% {
    background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  }
  50% {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }
  60% {
    background: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  }
  70% {
    background: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
  }
  80% {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  }
  90% {
    background: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  }
  100% {
    background: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
  }
}
.add_gym_form h1 {
    padding: 1vh 0;
    text-decoration: underline;
    
}

.add-gym-items {
    margin:1.35vh 0;
    display: flex;
}

.add-gym-items label {
    width: 18.8vh;
    display: flex;
    align-items:center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.add-gym-items input{
    padding: 4px 5px;
    border: 2px solid #000;
    border-radius: 8px;
}

.add-gym-items textarea {
    padding: 4px;
    border: 2px solid #000;
    border-radius: 8px;
    width: 172px;
}

.add-gym-items input[type="date"],.add-gym-items input[type="time"] {
  width: 171px;
}

.add-gym-items input[type="date"],.add-gym-items input[type="time"] {
  width: 172px;
}

@media (max-width: 1500px) {
  .add-gym-items textarea {
    padding: 4px;
    padding-right: 14px;
  }
}

.add-gym-items textarea:focus {
  outline: 0;
  border-color:#12fff7;
}

.add-gym-items select {
    width: 171px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 1.08vh;
    text-align: center;
}

.add-gym-items input:focus {
  outline: 0;
  border-color: #12fff7;
}

.add-gym-btn {
    padding: 7px 15px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: bold;
}

.add-gym-btn:hover {
    background-color: rgb(233, 0, 86);
}

.view_gym {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
    text-align: center;
}

table {
  background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
}

th,td {
    font-family: 'Poppins', sans-serif;
    padding: 1.3vh 2vh;
    text-align: center;
    outline: 2px solid #000;
    width: 50%;
} 

i {
  margin-right: 5px;
}

i:hover {
  color:rgba(255, 0, 0);
}

.view_gym h1 {
  text-decoration: underline; 
  margin-bottom: 2px; 
  color: #1a90eb;
}

@media (max-width:480px) {
  nav ul {
    display: block;
  }

  .content {
    display: block;
    padding: 1% 0;
  }

  .add_gym {
    margin:10% 0;
  }

  .add_gym_form {
    padding:8vh 8vh;
  }

  .add-gym-items {
    display: block;
  }

  .welcome{
    font-size: 5rem;
    position: absolute;
    top: 70%;
  }

  .logout {
    display: flex;
    justify-content: center;
  }
}