{% extends 'base.html' %}
{% block content %}
    <div class="add_gym">
        <div class="add_gym_form">
            <h1>ADD TRAINER</h1>
            <form action="{{ url_for('add_trainer' ) }}" method="POST" onsubmit="return checkopts()">
                <div class="add-gym-items">
                    <label for="trainer-id">TRAINER ID</label>
                    <input type="text" id="trainer-id" name="trainer-id" placeholder="Enter Trainer ID" required>
                </div>
                <div class="add-gym-items">
                    <label for="gym-name">TRAINER NAME</label>
                    <input type="text" id="trainer-name" name="trainer-name" placeholder="Enter Trainer Name" required>
                </div>
                <div class="add-gym-items">
                    <label for="time">TIME</label>
                    <input type="time" id="time" name="time" placeholder="Enter Time" required>
                </div>
                <div class="add-gym-items">
                    <label for="mobile-number">MOBILE NUMBER</label>
                    <input type="text" id="mobile-number" name="mobile-number" placeholder="Enter Mobile Number" required>
                </div>
                <div class="add-gym-items">
                    <label for="payment-id">PAYMENT ID</label>
                    <select name="payment-id" id="payment-id">
                        <option value="" disabled selected hidden>Select an option</option>
                        {% for i in res %}
                        <option value="{{i['Pay_ID']}}">{{i['Pay_ID']}}</option>    
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="add-gym-btn">ADD</button>
            </form>
            {% if flag == True %}
                <div style="color: #155724; background-color: #c3e6cb; margin-top: 2%; border-radius: 5px; padding: 5px;">{{msg}}</div>
            {% elif flag == False %}
            <div style="color: #856404; background-color: #ffeeba; margin-top: 2%; border-radius: 5px; padding: 5px;">{{msg}}</div>
            {% else %}
            {% endif %}  
        </div>
    </div>
{% endblock %}