<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='forgot_password.css' ) }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico')}}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/9e9b29a8b1.js" crossorigin="anonymous"></script>
    <title>Fit 2 Thrill</title>
    <script>
        function emailcheck() {
            a = document.getElementById('password').value;
            b = document.getElementById('cpassword').value;
            if(a!=b) {
                alert('The Password entered does not match')
                return false;
            }
            else
            {
                return true;
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="logo">
            <img src="https://raw.githubusercontent.com/Gedipey/image/main/cover%20(1).png" alt="logo" width="200px" style="margin-left: 3rem;">
            </div>
            <h1 class="items" style="margin-left: 25px;text-align: center;">Reset Password</h1>
            <div style="margin-left:30px;color: red;">{{msg}}</div>
            <form action="{{ url_for('reset_pass' ) }}" onsubmit="return emailcheck()" method="POST">
                <div class="items">
                    <label for="password">New Password<span style="color: red;">*</span></label>
                    <div class="icons">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="password" id="password" placeholder="Enter New Password" required>
                    </div>
                </div>
                <div class="items">
                    <label for="cpassword">Confirm Password<span style="color: red;">*</span></label>
                    <div class="icons">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" name="cpassword" id="cpassword" placeholder="Confirm New Password" required>
                    </div>
                </div>
                <div class="btn">
                    <button type="submit">Reset Password</button>
                </div>
                <div class="add-user">
                <a href="{{ url_for('login' ) }}" style="text-align: center;">Go to Login Page</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>